<style>
  /*
  .saw {
    color:gray;
  }

  #active {
    color:red;
  }
  */
  a {
    color : black;
    text-decoration: none;
  }
  h1 {
    font-size : 70px;
    text-align: center;
    border : 3px solid gray;
    background-color : yellow;
    background-clip : content-box;
    margin : 0;
    padding : 20px;
  }
  #grid ol{
    border-left : 2px solid gray;
    border-right : 2px solid gray;
    width : 100px;
    margin : 0;
    padding : 33px;
  }
  /*
  id 안에다가 태그 쓰면, 그 안에 있는 태그만 설정 가능함.
  */
  #grid{
    display: grid;
    grid-template-columns : 150px 1fr;
  }

  #grid #article{
    padding-left : 4
    0px;
  }
  /*
  반응형 디자인 : 내가 화면을 바꿈에 따라 최적화해서 변경
  */
  @media(max-width:400px){
    #grid{
      display: block;
    }
    #grid ol{
      border-right : none;
      width : 100px;
      margin : 0;
      padding : 33px;
    }
    h1 {
    border-bottom :none;
}
  }
</style>
